<!-- start custom head snippets, customize with your own _includes/head-custom.html file -->

<!-- Setup Google Analytics -->
{% include head-custom-google-analytics.html %}

<li><a href="{{ site.baseurl }}/Conferences/">Past Conferences</a></li>

<li><a href="{{ site.baseurl }}/papers/">arxiv-picks</a></li>

<li><a href="https://fongchingam.github.io/PyCoFie/">Project PyCoFie</a></li>

<!-- You can set your favicon here -->
<!-- link rel="shortcut icon" type="image/x-icon" href="{{ '/favicon.ico' | relative_url }}" -->

<!-- end custom head snippets -->
